/*===== blog =====*/
@media only screen and (max-width: 768px) {
    .blog__item {
        width: 96%;
    }

    // ===== blog-one =====
    .blog__article {
        width: 90%;
        padding-right: 0;
        margin: 0 auto;
        float: none;
    }
    .blog__aside {
        display: none;
    }
    // ===== /blog-one =====

    // ===== pagination =====
    .pagination__item {
        margin: 0 2px;
    }
    .pagination__link {
        padding: 0px 7px;
        @include font-size(14px);
    }
    // ===== /pagination =====
}
/*===== /blog =====*/