/*===== header =====*/
.header {
    position: fixed;
    z-index: 9999;
    right: 0;
    left: 0;
    padding: 5px 0;
    background-color: $brand-dark;
}
.header__logo,
.header__nav,
.header__adress,
.header__btn {
    display: inline-block;
    vertical-align: middle;
}

// ===== logo =====
.header__logo {
    width: 200px;
}
.header__logo-pic {
    display: block;
    max-width: 200px;
    max-height: 55px;
}

// ===== nav =====
.header__nav {
    width: 500px;
    padding: 0 30px;
}
.nav__list {
    margin: 0;
    padding-top: 20px;
    text-align: justify;
    &::after {
        display: inline-block;
        width: 100%;
        height: 0;
        content: '';
    }
}
.nav__item {
    display: inline-block;
    list-style: none;
    &:hover .nav__link {
        color: $brand-light;
    }
    &:hover .nav__list-sub {
        position: absolute;
        display: block;
        padding-top: 5px;
    }
}
.nav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    @include opensans(bold);
}
.nav__list-sub {
    display: none;
    margin: 0;
}
.nav__item-sub {
    list-style: none;
    background-color: #fff;
    &:first-child {
        padding-top: 3px;
        border-top: 3px solid $brand-light;
    }
    &:last-child {
        padding-bottom: 5px;
    }
}
.nav__link-sub {
    display: block;
    padding: 3px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-dark;

    @include opensans(bold);
    &:hover {
        color: $brand-light;
    }
}

// ===== adress =====
.header__adress {
    line-height: 20px;
    width: 150px;
    margin: 0 25px;
    letter-spacing: .35px;
    color: #fff;
}
.header__adress-phone a {
    text-decoration: none;
    color: #fff;
}

// ===== btn =====
.header__btn-link {
    padding: 10px 30px;

    @include font-size(16px);
}
/*===== /header =====*/


/*===== top__section =====*/
.top__section {
    overflow: hidden;
    background: url('../img/bg-space.jpg') 0 0 no-repeat;
    background-size: cover;
}
.top__section_header {
    padding-top: 80px;
    text-align: center;
}
.top__section_header-title {
    font-weight: 400;
    padding: 30px 10px 0 10px;
    text-transform: uppercase;
    color: #fff;

    @include opensans(light);
    @include font-size(24px);
}
.top__section_header-text {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px 30px 10px;
    p {
        color: #fff;

        @include opensans(light);
        @include font-size(16px);
    }
}

//===== tabs =====
.top__section_tab {
    position: relative;
    .tab__controls-list {
        margin-bottom: 40px;
    }
    .tab__controls-item {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        padding: 10px 20px;
        list-style: none;
        transition: .5s;

        @include opensans(light);
        @include font-size(18px);
        &::before,
        &::after {
            position: absolute;
            top: 0;
            display: inline-block;
            content: '';
            transition: .5s;
            opacity: 0;
        }
        &::before {
            right: 20%;
            bottom: 50%;
            left: 0;
            border-top: 2px solid $brand-light;
            border-left: 2px solid $brand-light;
        }
        &::after {
            right: 0;
            bottom: 0;
            left: 20%;
            border-right: 2px solid $brand-light;
            border-bottom: 2px solid $brand-light;
        }
        &:hover {
            .tab__control-link {
                transition: .5s;
                text-decoration: none;
                color: $brand-light;
            }
        }
        &.active {
            &::before,
            &::after {
                transition: .5s;
                opacity: 1;
            }
            .tab__control-link {
                text-decoration: none;
            }
        }
    }
    .tab__control-link {
        position: relative;
        z-index: 5;
        transition: .5s;
        color: #fff;
    }
    .tab__item {
        position: absolute;
        z-index: -100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        list-style: none;
        &.active {
            position: relative;
            z-index: 100;
        }
    }
}
// ===== slider =====

.tab__item-list {
    //общие стили для верхнего слайдера
    margin: 20px 0 140px 0;
    // margin-bottom: 160px;
    .top__slider-list {
        margin: 0;
    }
    .top__slider-item {
        padding: 40px 100px;
        color: #fff;
    }
    .bx-pager {
        bottom: -80px;
    }
    .bx-wrapper {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .bx-wrapper .bx-controls-direction a {
        width: 60px;
        height: 80px;
        margin-top: -40px;
    }
    .bx-wrapper .bx-prev {
        background: url('../../img/aboutus__slider-arr.png') 0 -185px no-repeat;
        &:hover {
            background-position: -15px 0;
        }
    }
    .bx-wrapper .bx-next {
        background: url('../../img/aboutus__slider-arr.png') -1px -255px no-repeat;
        &:hover {
            background-position: -15px -100px;
        }
    }
    .top__slider-item-block {
        display: inline-block;
        width: 33%;
        vertical-align: middle;
        text-align: left;
    }
}
.tab__item_01 {
    //стили для слайдера в первом табе
    .bx-pager-item {
        margin: 0 5px;
    }
    .bx-pager-link {
        position: relative;
        padding: 5px 15px 0 15px;
        transition: .8s;
        color: #fff;
        border-top: 2px solid transparent;

        @include font-size(18px);
        @include opensans(light);
        &::after {
            position: absolute;
            top: -20px;
            right: 0;
            left: 0;
            width: 2px;
            height: 20px;
            margin: auto;
            content: '';
            transition: .8s;
            opacity: 0;
            background-color: $brand-light;
        }
        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 7px;
            left: 0;
            content: '';
            transition: .8s;
            opacity: 0;
            border-right: 2px solid $brand-light;
            border-left: 2px solid $brand-light;
        }
        &:hover {
            transition: .8s;
            text-decoration: none;
            color: $brand-light;
        }
        &.active {
            transition: .8s;
            border-top: 2px solid $brand-light;
            &::after,
            &::before {
                transition: .8s;
                opacity: 1;
            }
        }
    }
}
/*===== /top__section =====*/


/*===== tab__section =====*/
.tab__section_header {
    text-align: center;
    background-color: #fff;
}
.tab__section_header-title {
    font-weight: 400;
    padding: 30px 10px 10px 10px;
    color: $text-light;

    @include font-size(24px);
}
.tab__section_header-text {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 20px 30px 10px;
    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 80%;
        height: 1px;
        margin: auto;
        content: '';
        background-color: $text-light;
    }
    p {
        color: $text-light;

        @include font-size(16px);
    }
}

// ===== tab-controls =====
.tab__section-controls {
    padding: 30px 0 20px 0;
    .tab__controls {
        margin: 0;
        text-align: justify;
        &::after {
            display: inline-block;
            width: 100%;
            height: 0;
            content: '';
        }
    }
    .tab__controls-item {
        display: inline-block;
        width: 130px;
        list-style: none;
        text-align: center;
        vertical-align: top;
        &:hover,
        &.active {
            .tab__control-icon {
                transition: .5s;
                box-shadow: 0 0 0 3px #fff, 0 0 0 5px $brand-light,  0 0 0 8px $brand-light;
                &::before {
                    transition: .5s;
                    opacity: 1;
                }
            }
        }
    }
    .tab__control-icon {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 110px;
        transition: .5s;
        border-radius: 50%;
        background-color: $brand-light;
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px $brand-light,  0 0 0 8px transparent;
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
        &::before {
            position: absolute;
            bottom: -90px;
            left: -10px;
            display: inline-block;
            width: 130px;
            height: 45px;
            content: '';
            transition: .5s;
            opacity: 0;
            background: url('../img/tab-section-hover.png') no-repeat;
            background-size: contain;
        }
    }
    .tab__control-text {
        position: relative;
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;

        @include opensans(bold);
        @include font-size(16px);
        @include line-height(22px);
    }
}

// ===== tab-text =====
.tab__section-text {
    position: relative;
    background: url('../img/bg-space.jpg') 0 0 no-repeat;
    background-size: cover;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: .6;
        background-color: #0a3546;
    }
}
.tab__section-list {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 35px 0 0 0;
    .tab__item {
        display: none;
        &.active {
            display: block;
            p {
                color: #fff;

                @include font-size(16px);
                @include line-height(22px);
            }
        }
    }
}

// ===== btn =====
.tab__item_btn {
    padding: 20px;
    text-align: center;
}
.tab__item_btn-link {
    padding: 8px 45px;
}
/*===== /tab__section =====*/


/*===== lastworks =====*/
.lastworks {
    background: url('../img/bg-space.jpg') 0 0 no-repeat;
    background-size: cover;
}
.lastworks__header-title {
    color: #fff;
    &::after,
    &::before {
        background-color: #fff;
    }
}
.lastworks__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 350px;
    height: 270px;
    margin: 12px;
    vertical-align: top;
    &:hover {
        &::before {
            transition: .5s;
            opacity: .9;
        }
        &::after {
            transition: .5s;
            opacity: 1;
        }
        .lastworks__item-text {
            transition: .5s;
            opacity: 1;
        }
    }
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        transition: .5s;
        opacity: 0;
        background-color: #112236;
    }
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 92%;
        height: 90%;
        margin: auto;
        content: '';
        transition: .5s;
        opacity: 0;
        border: 2px solid $brand-light;
    }
}
.lastworks__item-link {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.lastworks__item-pic {
    display: block;
    min-width: 100%;
    min-height: 100%;
}
.lastworks__item-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    &::before {
        //выравниваем тект по центру
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }
}
.lastworks__item-text {
    position: relative;
    z-index: 5;
    display: inline-block;
    width: 150px;
    transition: .5s;
    vertical-align: middle;
    opacity: 0;
    color: #fff;
}

// ===== btn =====
.lastworks__item_btn {
    padding: 10px 0 30px 0;
    text-align: center;
}
.lastworks__item_btn-link {
    padding: 8px 45px;
}
/*===== /lastworks =====*/


/*===== rocket =====*/
.rocket {
    background-color: #fff;
}
.rocket__header-title {
    color: $brand-dark;
    &::after,
    &::before {
        background-color: $brand-dark;
    }
}
/*===== /rocket =====*/


/*===== aboutus =====*/
.aboutus {
    background: url('../img/bg-space.jpg') 0 0 no-repeat;
    background-size: cover;
}
.aboutus__header-title {
    color: #fff;
    &::after,
    &::before {
        background-color: #fff;
    }
}
// ===== slider =====
.aboutus__slider {
    padding: 10px 0;
    text-align: center;
    .bx-wrapper {
        margin-bottom: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    ul {
        margin: 0;
    }
    .bx-wrapper .bx-controls-direction a {
        width: 60px;
        height: 80px;
        margin-top: -40px;
    }
    .bx-wrapper .bx-prev {
        background: url('../../img/aboutus__slider-arr.png') 0 -185px no-repeat;
        &:hover {
            background-position: -15px 0;
        }
    }
    .bx-wrapper .bx-next {
        background: url('../../img/aboutus__slider-arr.png') -1px -255px no-repeat;
        &:hover {
            background-position: -15px -100px;
        }
    }
}
.aboutus__slider-item {
    color: #fff;
}
.aboutus__slider-text {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;

    @include opensans(light);
    @include font-size(24px);
}
.aboutus__slider-signature {
    padding: 5px 0;
}
/*===== /aboutus =====*/


/*===== our-blog =====*/
.our-blog {
    background-color: #fff;
    .blog__item {
        width: 30%;
        margin: 0 16px;
        &:last-child {
            margin-right: 0;
        }
    }
    .blog__image-date {
        span {
            padding: 2px 25px;
        }
    }
    .blog__header-title {
        padding: 20px 0 15px 0;

        @include font-size(14px);
    }
}
.our-blog__header-title {
    color: $brand-dark;
    &::after,
    &::before {
        background-color: $brand-dark;
    }
}
/*===== /our-blog =====*/


/*===== map =====*/
.map {
    background-color: #fff;
}
.map__header-title {
    color: $brand-dark;
    &::after,
    &::before {
        background-color: $brand-dark;
    }
}
.map__body {
    width: 100%;
    height: 400px;
}
/*===== /map =====*/


/*===== footer =====*/
.footer {
    padding: 45px 0;
    background: url('../img/bg-space.jpg') 50% 50% no-repeat;

    @include opensans(regular);
    @include font-size(12px);
}
.footer__copyright {
    text-align: center;
    color: #fff;
}
/*===== /footer =====*/
