/*===== rocket =====*/
.rocket {
    background-color: #fff;
}
.rocket__header-title {
    color: $brand-dark;
    &::after,
    &::before {
        background-color: $brand-dark;
    }
}
/*===== /rocket =====*/