/*===== header =====*/
.header {
    position: fixed;
    z-index: 9999;
    right: 0;
    left: 0;
    padding: 5px 0;
    background-color: $brand-dark;
}
.header__logo,
.header__nav,
.header__adress,
.header__btn {
    display: inline-block;
    vertical-align: middle;
}


// ===== logo =====
.header__logo {
    width: 200px;
}
.header__logo-pic {
    display: block;
    max-width: 200px;
    max-height: 55px;
}

// ===== nav =====
.header__nav {
    width: 500px;
    padding: 0 30px;
}
.nav__list {
    margin: 0;
    padding-top: 20px;
    text-align: justify;
    &::after {
        display: inline-block;
        width: 100%;
        height: 0;
        content: '';
    }
}
.nav__item {
    display: inline-block;
    list-style: none;
    &:hover .nav__link {
        color: $brand-light;
    }
    &:hover .nav__list-sub {
        position: absolute;
        display: block;
        padding-top: 5px;
    }
}
.nav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    @include opensans(bold);
}
.nav__list-sub {
    margin: 0;
    display: none;
}
.nav__item-sub {
    list-style: none;
    background-color: #fff;
    &:first-child {
        padding-top: 3px;
        border-top: 3px solid $brand-light;
    }
    &:last-child {
        padding-bottom: 5px;
    }
}
.nav__link-sub {
    display: block;
    padding: 3px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-dark;

    @include opensans(bold);
    &:hover {
        color: $brand-light;
    }
}


// ===== adress =====
.header__adress {
    line-height: 20px;
    width: 150px;
    margin: 0 15px;
    letter-spacing: .35px;
    color: #fff;
}
.header__adress-phone a {
    text-decoration: none;
    color: #fff;
}

// ===== btn =====
.header__btn-link {
    padding: 10px 30px;
}
/*===== /header =====*/


/*===== top__slider =====*/
.top__slider {
    height: 700px;//temp
    background: url("../img/bg-space.jpg") 0 0 no-repeat;
    background-size: cover;
  overflow:hidden;

}
body{
  // background:url(http://subtlepatterns.com/patterns/graphy.png);
}
.solarsystem-outer{
  // height:300px;
  // width:100%;
}
#solarsystem{
  position:relative;
  // margin-top:200px;
  // margin-left:300px;
  border:0;
  opacity:.5;
}
#sun{
  width:100px;
  height:100px;
  border-radius:50%;
  position:absolute;
  left:250px;
  margin-top:250px;
}

/* ORBIT LINES */
#mercury{
  width:200px;
  height:200px;
  position: absolute;
  left: 200px;
  margin-top: 200px;
  -webkit-animation:orbit 7.23s linear infinite;
}
#venus{
  width:300px;
  height:300px;
  position: absolute;
  left:150px;
  top:150px;
  -webkit-animation:orbit 18.45s linear infinite;
}
#earth{
  width:400px;
  height:400px;
  position: absolute;
  left:100px;
  top:100px;
  -webkit-animation:orbit 30s linear infinite;
}
#moon{
  width:35px;
  height:35px;
  border-radius:50%;
  position: absolute;
  left:155px;
  top:-18px;
  -webkit-animation:orbit 2.4s linear infinite;
}
#mars{
  width:500px;
  height:500px;
  position: absolute;
  left:50px;
  top:50px;
  -webkit-animation:orbit 56.43s linear infinite;
}
#jupiter{
   width:700px;
  height:700px;
  position: absolute;
  left:-45px;
  top:-45px;
  -webkit-animation:orbit 355.8s linear infinite;
}
#saturn{
   width:900px;
  height:900px;
  position: absolute;
  left:-140px;
  top:-140px;
  -webkit-animation:orbit 883.8s linear infinite;
}
#uranus {
  width: 1100px;
  height: 1100px;
  position: absolute;
  left: -235px;
  top: -235px;
  -webkit-animation: orbit 2520.3 linear infinite;
}
#neptune {
  width: 1300px;
  height: 1300px;
  position: absolute;
  left: -320px;
  top: -320px;
  -webkit-animation: orbit 4944s linear infinite;
}

.planet{
  border: 1px dashed #000;
  border-radius:50%;
}

/*  ORBIT ANIMATION */
@-webkit-keyframes orbit{
  100% { -webkit-transform: rotate(360deg); }
}

/* PLANETS */
#mercury:after{
  content:" ";
  width:10px;
  height:10px;
  position:absolute;
  top:-5px;
}
#venus:after{
  content:" ";
  width:20px;
  height:20px;
  position:absolute;
  top:85px;
  right:0;
}
#earth:after{
  content:" ";
  width:25px;
  height:25px;
  position:absolute;
  top:-12px;
}
#moon:after{
  content:" ";
  width:8px;
  height:8px;
  position:absolute;
  top:-12px;
}
#mars:after{
  content:" ";
  width:12px;
  height:12px;
  position:absolute;
  top:-4px;
}
#jupiter:after{
  content:" ";
  width:100px;
  height:100px;
  position:absolute;
  top:220px;
  right:-40px;
}
#saturn:after{
  content:" ";
  width:80px;
  height:80px;
  position:absolute;
  top:340px;
  right:-35px;
}
#uranus:after{
  content:" ";
  width:60px;
  height:60px;
  position:absolute;
  top:480px;
  right:-30px;
}
#neptune:after{
  content:" ";
  width:60px;
  height:60px;
  position:absolute;
  top:580px;
  right:-30px;
}
/* PLANET COLOR */
#sun, #mercury:after, #venus:after, #earth:after, #moon:after, #jupiter:after, #saturn:after, #uranus:after, #neptune:after{
    background:#000;
}
 #mars:after{
   background:red;
 }
#mercury:after, #venus:after, #earth:after, #moon:after, #mars:after, #jupiter:after, #saturn:after, #uranus:after, #neptune:after{
  border-radius:50%;
  margin-left:40%;
}
/*===== /top__slider =====*/


/*===== footer =====*/
.footer {
    padding: 45px 0;
    background: url('../img/bg-space.jpg') 50% 50% no-repeat;

    @include opensans(regular);
    @include font-size(12px);
}
.footer__copyright {
    text-align: center;
    color: #fff;
}
/*===== /footer =====*/
