*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body {
    line-height: 1.42;
    width: 100%;
    height: 100%;
    color: $text-default;

    @include font-size(14px);
    @include opensans(regular);
}
ul {
    margin: 10px 0 10px 35px;
    padding: 0;
    li {
        list-style: url('../img/ul.jpg');

        @include line-height(24px);
    }
}
ol {
    margin: 10px 0 10px -5px;
    li {
        padding-left: 2px;

        @include line-height(24px);
    }
}
a {
    color: $brand-dark;
    &:hover {
        color: $brand-light;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
p {
    @include opensans(regular);
    @include font-size(14px);
    @include line-height(20px);
}
h3 {
    font-weight: 400;

    @include opensans(semibold);
    @include font-size(18px);
    @include line-height(30px);
}
h4 {
    font-weight: 400;

    @include opensans(semibold);
    @include font-size(18px);
    @include line-height(30px);
}
h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: $brand-light;

    @include opensans(bold);
    @include font-size(18px);
    @include line-height(30px);
}
h6 {
    font-weight: 400;
    text-transform: uppercase;

    @include opensans(bold);
    @include font-size(14px);
    @include line-height(30px);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.hidden {
    display: none;
}

.btn-link {
    display: inline-block;
    transition: .5s;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid $brand-light;

    @include opensans(bold);
    &:hover {
        transition: .5s;
        color: $text-dark;
        background-color: $brand-light;
    }
}

// ===== section__header =====
.section__header {
    padding: 25px 10px;
    text-align: center;
    .container {
        overflow: hidden;
        max-width: 1000px;
        margin: 0 auto;
    }
}
.section__header-title {
    font-weight: 400;
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    @include font-size(30px);
    @include opensans(light);
    &::after,
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
        width: 1000px;
        height: 1px;
        margin: auto;
        content: '';
    }
    &::after {
        right: 100%;
        left: -1050px;
    }
    &::before {
        right: -1050px;
        left: 100%;
    }
}

// ===== single page =====
.content__header {
    padding: 150px 0 40px 0;
    background: url('../img/bg-space.jpg') 50% 50% no-repeat;
    background-size: cover;
}
.page__title {
    text-align: center;
}
.title {
    font-weight: 400;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px solid $brand-light;

    @include font-size(48px);
    @include opensans(light);
}

// ===== breadcrumbs =====
.breadcrumbs {
    padding: 30px 0;
    text-align: center;
}
.breadcrumbs__list {
    margin: 0;
    list-style: none;
}
.breadcrumbs__item {
    display: inline-block;
    &:last-child .breadcrumbs__link {
        cursor: default;
        pointer-events: none;
        &::after {
            display: none;
        }
    }
}
.breadcrumbs__link {
    transition: .5s;
    text-decoration: none;
    text-transform: lowercase;
    color: #fff;
    &::after {
        padding: 0 10px;
        content: ' /';
    }
    &:hover {
        transition: .5s;
        color: $brand-light;
    }
}
