/*===== portfolio =====*/
.portfolio {
    margin-bottom: 40px;
    text-align: center;
}

.portfolio__header-title {
    color: $brand-dark;
    &::after,
    &::before {
        background-color: $brand-dark;
    }
}

.portfolio__btn {
    position: relative;
    margin-right: -5px;
    cursor: pointer;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #aaa;
    border: none;
    outline: none;
    background: none;

    @include font-size(16px);
    @include opensans(semibold);
    &::after {
        padding-left: 5px;
        content: ' /';
        color: $brand-light;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
    &.active {
        color: #426286;
    }
}

.portfolio__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 31%;
    height: 270px;
    margin: 12px;
    vertical-align: top;
    &:hover {
        &::before {
            transition: .5s;
            opacity: .9;
        }
        &::after {
            transition: .5s;
            opacity: 1;
        }
        .portfolio__item-text {
            transition: .5s;
            opacity: 1;
        }
    }
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        transition: .5s;
        opacity: 0;
        background-color: #112236;
    }
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 92%;
        height: 90%;
        margin: auto;
        content: '';
        transition: .5s;
        opacity: 0;
        border: 2px solid $brand-light;
    }
}
.portfolio__item-link {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.portfolio__item-pic {
    display: block;
    width: 100%;
    min-height: 100%;
}
.portfolio__item-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    &::before {
        //выравниваем тект по центру
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }
}
.portfolio__item-text {
    position: relative;
    z-index: 5;
    display: inline-block;
    width: 300px;
    transition: .5s;
    vertical-align: middle;
    opacity: 0;
    color: #fff;
}


@media only screen and (max-width: 1200px) {
    .portfolio__item {
        width: 35%;
    }
}


@media only screen and (max-width: 980px) {
    .portfolio__item {
        width: 40%;
    }
}


@media only screen and (max-width: 840px) {
    .portfolio__item {
        width: 50%;
    }
}


@media only screen and (max-width: 740px) {
    .portfolio__item {
        width: 70%;
    }
}


@media only screen and (max-width: 480px) {
    .portfolio__item {
        width: 90%;
    }
}


@media only screen and (max-width: 400px) {
    .portfolio__item {
        width: 100%;
    }
}
/*===== /portfolio =====*/
